# Configuração do Flask
SECRET_KEY=chave_secreta_muito_segura
JWT_SECRET_KEY=chave_jwt_secreta_muito_segura

# Configuração do banco de dados relacional (MySQL)
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ComVoz
SQLALCHEMY_DATABASE_URI=mysql://root:root@localhost:3306/ComVoz

# Configuração do MongoDB
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=comvoz_nps 